* {
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Telex', sans-serif;
}

.top-container {
    background-color:rgb(15, 15, 15);
    color: white;
    width: 100%;
    height: 15em;
    display: flex;  
    align-items: center;
    justify-content: space-around;
    
}

.logo {
    height: 10em;
    
}
.name {
  font-family: 'Passion One', cursive;
  font-size: 2.5em;
  font-weight: lighter;
  margin-left: -1.5em;
}

.headshot {
    height: 15em;
    margin-left: -7em;
    
  
}

ul {
    list-style-type: none;
    
}

li {
    margin: 0;
    color: white;
    text-decoration: none;
    padding: 13px;
    display: inline-block;
    font-family: 'Passion One', cursive;
    font-weight: lighter;

  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Telex', sans-serif;
    
  }

  .icons-top {
    padding: 2em;
    
}
  
  .e-mail {
    width: 2em;
    height: auto;
    cursor: pointer;
    
  }

  .github {
    width: 2em;
    height: auto;
    cursor: pointer;
  }

  .linkedin {
    width: 2em;
    height: auto;
    cursor: pointer;
  }

.second-container {
    width: 100%;
    height: 10em;
    background-color:rgb(170, 221, 213);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.greeting {
    font-size: 1.3em;
}

.what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 4em 4em;
  height: 20em;
  justify-content: center;
  
}
 p {
  font-size: 1.2em;
  line-height: 30px;
  padding: 2em;
 }

.column-left {
  text-align: center;
  padding: 2em ;
}

.column-middle {
  text-align: center;
  padding-top: 2em;

}

.column-right {
  text-align: center;
  padding: 2em;
}

.icon {
  width: 2em;
  height: auto;
}

.canva {
  width: 3.5em;
  height: auto;
}

h2 {
  font-family: 'Passion One', cursive;
  font-size: 2em;
  font-weight: lighter;
}

.projects-container {
  background-color: cornflowerblue;
  width: 100%;
  height: 50em;
  margin-top: 4em;
  
}

.banner {
  font-family: 'Passion One', cursive;
  font-size: 2em;
  font-weight: lighter;
  height: 2em;
  text-align: center;
  padding-top: 1em;
 
}

.grid-websites {
  grid-template-columns: 1fr 1fr;
  display: grid;

 }

.image {
  width: 20em;
  height: auto;
  margin: 1em;
  
}

.michelle {
  width: 18em;
  height: 12em;
  margin: 1em;
}

h3 {
  font-family: 'Passion One', cursive;
  font-size: 1em;
  font-weight: lighter;
  color:rgb(15, 15, 15);

}

.column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}



