body {
    font-family: 'Telex', sans-serif;
}

.top-container {
    background-color:rgb(15, 15, 15);
    color: white;
    width: 100%;
    height: 15em;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 15em;
    
}

.headshot {
    height: 15em;
    margin-left: 12em;
  
}

ul {
    list-style-type: none;
    
}

li {
    margin: 0;
    color: white;
    text-decoration: none;
    padding: 13px;
    display: inline-block;

  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
  }

  .icons {
    padding: 2em;
  }
  
  .e-mail {
    width: 2em;
    height: auto;
    cursor: pointer;
    
  }

  .github {
    width: 2em;
    height: auto;
    cursor: pointer;
  }

  .linkedin {
    width: 2em;
    height: auto;
    cursor: pointer;
  }

.second-container {
    width: 100%;
    height: 10em;
    background-color:cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.greeting {
    font-size: 1.3em;
}